<% provide :title, t(".title")  %>
<h1><%= t ".title" %></h1>
<p>
  <%= link_to "Rails Tutorial", "http://www.railstutorial.org/help" %>help
  page</a>.
  <%= t ".get_help" %>
  <%= link_to "http://www.railstutorial.org/book" do %>
    <em>Ruby on Rails Tutorial</em>
  <% end %>
  book</a>.
</p>
